 
/*By: Valerie Lavash
Description: This is a project for an educational course through 
Albany Can Code which was assigned by Steve Cifarelli on 5/1/2018. 
  Our task was to use the OWL Carousel pluggin and do something 
  creative with it.    */



            h4{
                background:#0f0;
                padding:80px 0;

            }
        
        body{
        	background-color: #40E0D0;
        }
        

